.rConfirmMain{
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    margin: 150px 7% 0;
}

.rConfirmContent {
    display:flex;
    flex-direction:column;
    margin: 0 20%;
}

.rConfirmMain h1 {
    color: var(--textColor);
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0;
    white-space:nowrap;
}

.rConfirmMain p {
    color: var(--textColor);
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.rConfirmMain a {
    font-weight: 600;
    color: var(--accentColor);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.rConfirmMain a:hover {
    opacity: 0.8;
}

.rConfirmHome {
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rConfirmHome img {
    width:50px;
}

.rConfirmHome p {
    font-size: 14px;
    margin: 0;
}


@media only screen and (max-width: 768px) {

    .rConfirmMain {
        justify-content: center;
    }


    .rConfirmMain h1 {
        font-size: 35px;
    }

    .rConfirmMain p {
        font-size: 12px;
    }

    .rConfirmHome img {
        width:40px;
    }

}