.rehomeMain{
    display: flex;
    position: relative;
    margin: 150px 7% 0;
}

.rehomeHeader {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rehomeHeader h1 {
    color: var(--textColor);
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0;
    white-space:nowrap;
}

.rehomeHeader p {
    color: var(--textColor);
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {

    .rehomeMain {
        justify-content: center;
    }

    .rehomeHeader { 
        text-align: center;
        width: 80%;
    }

    .rehomeHeader h1 {
        font-size: 35px;
    }

    .rehomeHeader p {
        font-size: 14px;
    }

}