.heroSection {
    display: flex;
}

.heroImageContainer {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background-image: url('../../assets/hero-dogbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--shadowColor);
}

.heroContent {
    position: absolute;
    top: 35%;
    left: 7%;
    width:40%;
}

.heroContent h1 {
    color: var(--bgColor);
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;
    white-space:nowrap;
}

.heroContent p {
    color: var(--bgColor);
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

.homeMain button {
    border:none;
    max-width:100%;
    border-radius: 5px;
    background-color: var(--accentColor);
    padding: 15px 20px;
    color: var(--bgColor);
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.527);
    cursor: pointer;
    transition: opacity 0.2s ease-out, transform 0.3s ease;
}

.heroContent button {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.527);
}

.homeMain button:hover {
    opacity: 0.9;
    transform: scale(0.95);
}


/* the like information section underneath */
.homeContent {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding: 15vh 10vw 20vh 10vw;
}

.homeSectionContent button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    align-self: flex-start;

}

.homeSection {
    display:flex;
    flex-direction: row;
}

.homeDivider{
    width:100%;
    height:1px;
    margin: 80px 0;
    opacity: 0.5;
    background-color: var(--textColor);
}

.homeSectionContent {
    display: flex;
    flex-direction:column;
    justify-content:center;
    flex-grow:1;
    flex-basis: 0;
}

.homeSectionImage {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis:0;
    position:relative;
}

.homeSectionImage:first-child{
    justify-content: left;
}

.homeSectionImage:last-child{
    justify-content:right;
    transform: rotate(2deg);
}

.homeSection img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.493);
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.3s ease-out;
}

.homeSectionImage:last-child img:hover {
    transform: scale(1.02) rotate(3deg);
}

.homeSectionImage:first-child img:hover {
    transform: scale(1.02) rotate(-3deg);
}

.homeSectionContent p {
    color: var(--textColor);
    font-size: 18px;
    white-space: normal;
}

.homeSectionContent h2 {
    color: var(--textColor);
    font-size: 32px;
    margin: 0;
}

/* responsive */
@media only screen and (min-width: 1600px) {
    .heroContent h1 {
        font-size: 70px;
    }

    .heroContent p {
        font-size: 25px;
    }

    .heroContent button {
        padding: 15px 20px;
        font-size: 18px;

    }
}

@media only screen and (max-width: 768px) {

    .heroImageContainer {
        background-position: 60% center;
        display: flex;
        justify-content: center;
        background-image: url('../../assets/hero-dogbg-mobile.jpg');
    }

    .heroContent {
        position: relative;
        top:38%;
        left:0;
        width:90%;
        text-align:center;
    }

    .heroContent h1 {
        font-size: 50px;
    
    }

    .heroContent p {
        font-size: 20px;
    }

    .homeSection {
        justify-content: center;
        align-items:center;
    }

    .homeSectionImage img {
        width: 100%;
        height: 70%;
    }

    .homeSection:first-child {
        flex-direction:column-reverse;
    }

    .homeSection:last-child {
        flex-direction: column;
    }
}

@media only screen and (max-width: 576px) {

    .heroContent h1 {
        font-size: 40px;
    }

    .heroContent p {
        font-size: 18px;
    }

    .homeMain button {
        font-size: 14px;
        padding: 12px 16px;
    }
}


