.animalMain{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 150px 7% 0;
}

.animalHeader {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.animalHeaderImage img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.671);
    border-radius: 5px;
}

.animalHeaderImage {
    margin-right: 5%;
}

.animalHeaderText h1 {
    color: var(--textColor);
    font-size: 45px;
    font-weight: 800;
    margin: 0;
    white-space:nowrap;
}

.animalHeaderText p {
    color: var(--textColor);
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.animalBackLink {
    margin-bottom: 70px;
}

.animalBackLink a {
    font-weight: 600;
    color: var(--accentColor);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.animalBackLink a:hover {
    opacity: 0.8;
}

.animalDescription {
    margin-top: 10px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
}

.animalDetails p {
    color: var(--textColor);
    margin: 0;
    font-size: 15px;
}

.animalAdoptButton button {
    border:none;
    max-width:100%;
    border-radius: 5px;
    background-color: var(--accentColor);
    padding: 15px 20px;
    color: var(--bgColor);
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.432);;
    cursor: pointer;
    transition: opacity 0.2s ease-out, transform 0.3s ease;
}

.animalAdoptButton button:hover {
    opacity: 0.8;
    transform: scale(0.95);
}


@media only screen and (max-width: 768px) {

    .animalHeaderText h1 {
        font-size: 35px;
        text-align: center;
    }

    .animalHeaderImage {
        margin: 0;
        margin-bottom: 30px;
        align-self: center;
    }

    .animalHeaderImage img {
        align-self: center;
        width: 250px;
        height: 200px;
    }

    .animalHeader {
        flex-direction: column;
    }

    .animalHeaderText p {
        font-size: 14px;
    }

    .animalDetails p {
        color: var(--textColor);
        margin: 0;
        font-size: 13px;
        text-align: right;
    }

    .animalBackLink a {
        font-size: 14px;
    }

    .animalDescription {
        flex-direction: column;
    }

    .animalAdoptButton {
        margin-right: 0;
        margin-top: 20px;
        align-self: right;
    }
    .animalAdoptButton button {
        padding: 12px 18px;
        font-size: 13px;
    }

    .animalBackLink {
        margin-bottom: 50px;
    }

    .animalMain{
        margin-top: 130px;
    }
}