.topbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: var(--accentColor);
    box-shadow: 0 4px 10px var(--shadowColor);
    font-family: 'Cairo', sans-serif;
}

.topbarElements {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.topbarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
}

.topbarLink {
    all: unset;
    display: inline-flex;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;      
    transform: scale(1) translateY(0);
    transition: opacity 0.3s ease-out, transform 0.3s ease;  
    will-change: transform;
}

.topbarLink:hover {
    opacity: 0.75;
    transform: scale(1.05) translateY(-1px);
}

.topbarArrow {
    margin-left: 5px;
    padding-top: 2px;
    transform: rotate(180deg);
    transform-origin: center;
    transition: transform 0.5s ease;
}

.topbarLogoImage {
    padding-top: 8px;
    width: 140px;
    opacity: 1;
    transform: scale(0.97);
    transition: opacity 0.5s ease-out, transform 0.3s ease;
}

.topbarLogoImage:hover {
    opacity: 0.7;
    transform: scale(1);
}

.topbarDropdown {
    position: relative;
    display: inline-flex; 
    flex-direction: column;
}


.topbarDropdown::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 10px; 
    width: 100%;
}

/* dropdown menu stuff */
.topbarDropContent {
    display:flex;
    flex-direction: column;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    position: absolute;
    top: 120%;
    left: 0;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 0px 15px var(--shadowColor);
    width: 100px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-out, transform 0.7s ease, visibility 0.3s ease-out;
    border-radius: 3px;
}

.topbarDropLink {
    all: unset;
    cursor: pointer;
    color: var(--textColor);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.topbarDropdown:hover .topbarDropContent {
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
}

.topbarDropdown:hover .topbarArrow {
    transform: rotate(0);
}

.topbarDropdown:hover .topbarLink {
    opacity: 0.75;
    transform: scale(1.05) translateY(-1px);
}


.topbarDropLink:hover {
    opacity: 1;
}

/* underline animation using ::after */

.topbarLink::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0px;
    width: 0;
    height: 1px;
    background-color: var(--accentColor);
    transition: width 0.3s ease-out;
}

.topbarLink:hover::after {
    width: 100%;
}

/* hamburger thingy for mobile */

.topbarHamburger {
    display:none;
    flex-direction:column;
    justify-content: center;
    align-items: right;
    cursor:pointer;
}

.topbarHamburger i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    opacity: 1;
    border-radius:10px;
    width:40px;
    height:40px;
    font-size: 25px;
    color: var(--accentColor);
    transform: scale(1);
    transition: opacity 0.5s ease, color 0.3s ease, background-color 0.5s ease, transform 0.5s ease;
    will-change: transform;
}

.topbarHamburger i:hover {
    background-color: var(--accentColor);
    color: var(--bgColor);
    opacity: 0.5;
    transform: scale(1.05);
}

.topbarHamburger.opened i {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

.topbarHamburger.opened i:hover {
    opacity: 0.8;
}

/* responsive */

@media only screen and (max-width: 768px) {
    .topbarHamburger {
        display: flex;
    }

    .topbarLinks {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        top: 75px;
        right:5px;;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
        background-color: var(--bgColor);
        box-shadow: 0 0px 15px var(--shadowColor);
        transform: translateY(-10px);
        transition: opacity 0.3s ease-out, transform 0.7s ease, visibility 0.3s ease-out;
        opacity: 0;
        border-radius: 5px;
    }

    .topbarLinks.opened {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
    }

    .topbarDropContent {
        top: 0px;
        left: -150px;
    }

    .topbarDropdown:hover .topbarArrow {
        transform: rotate(270deg);
    }

    .topbarDropdown::after {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        height: 200%; 
        width: 30px;
    }
}
