.App {
  width: 100%;
  height: 300vh;
}

.pageContainer {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInOnLoad 1.6s ease forwards;
}

@keyframes fadeInOnLoad {
  0% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* start screen animation */
.startupScreen {
  position: fixed;
  top:50%;
  left:50%;
  width:100vw;
  height:100vw;
  border-radius: 50%;
  z-index:10;
  background: var(--bgColor);
  animation: shrinkCircle 0.65s cubic-bezier(0,.77,.35,1) 2.7s forwards;
  transform: translate(-50%, -50%) scale(2);
}

@keyframes shrinkCircle {
  0% {
    transform: translate(-50%, -50%) scale(2);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.dogWalkAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) scale(0.15);
  background-image: url('./assets/dog-walk-spritesheet.png');
  background-repeat: no-repeat;
  opacity: 1;
  animation: dogWalk 1s steps(6) forwards infinite, dogFadeOut 0.3s ease-out 2.3s forwards;
}

@keyframes dogWalk {
  0% {
    transform: translate(-50%, -50%) scale(0.15);
    background-position: 0 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.15);
    background-position: -1800px 0;
  }
}

@keyframes dogFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
