/* wrapper for whole page to allow top and bottom nav */

.appWrap {
  display:flex;
  flex-direction: column;
  min-height:100vh
}

.App {
  width: 100%;
  height: 100%;
}

.pageContainer {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInOnLoad 1.6s ease forwards;
  flex: 1;
}

@keyframes fadeInOnLoad {
  0% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* start screen animation */

.startupScreen {
  position: fixed;
  overflow: none;
  z-index:10;
  top:50%;
  left:50%;
  width:100vw;
  height:100vw;
  border-radius: 50%;
  background: var(--bgColor);
  animation: shrinkCircle 0.65s cubic-bezier(0,.71,.42,1.03) 2.7s forwards;
  transform: translate(-50%, -50%) scale(2);
}

@keyframes shrinkCircle {
  0% {
    transform: translate(-50%, -50%) scale(2);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.dogWalkAnimation {
  position: absolute;
  z-index: 10;
  bottom: 1vh;
  right: 1vw;
  width: 300px;
  height: 300px;
  transform: scale(0.2);
  transform-origin: bottom right;
  background-image: url('./assets/dog-walk-spritesheet.png');
  background-repeat: no-repeat;
  opacity: 1;
  animation: dogWalk 1s steps(6) forwards infinite, dogFadeOut 0.4s ease-out 2.2s forwards;
}

@keyframes dogWalk {
  0% {
    transform: scale(0.2);
    background-position: 0 0;
  }
  100% {
    transform: scale(0.2);
    background-position: -1800px 0;
  }
}

@keyframes dogFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
